.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    flex: 0 0 100%;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image img {
    width: 50%;
    height: 70%;
    display: block;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: background-color 0.3s ease;
}



.carousel-control.next {
    right: 10px;
}

.carousel-control:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}